<div class="row">
	<h2 class>{{furryName}}</h2>
</div>
<div class="row" id="large-user-image">
	<img src={{picture}}>
</div>
<div class="row" id="userdata">
	<p>{{species}} - {{age}} - {{gender}}</p>
	<p class="bio">{{bio}}</p>
</div>


